{# single popular post template #}

<div class="single-popular-post d-flex flex-row">
    <div class="thumb">
        <img class="img-fluid" src="{{ asset('assets/job/img/p1.png') }}" alt="">
        <a class="btns text-uppercase" href="#">Voir l'offre</a>
    </div>
    <div class="details">
        <a href="#"><h4>{{ post.name|title }}</h4></a>
        <h6>
            {{ post.town|title }}, {{ post.country is not null ? post.country.name : '<br/>'|raw }}
        </h6>
        <p class="text-muted">
            Début: <strong>{{ post.start is not null ? post.start|date('d/m/Y') : '' }}</strong>{% if post.end is not null %}, Fin: <strong>{{ post.end|date('d/m/Y') }}</strong>{% endif %}
        </p>
        <p>
            {{ post.longDescription|striptags|u.truncate(100, '...', true) }}
        </p>
    </div>
</div>