{# Appliers template #}

{% extends "_layouts/dashboard.html.twig" %}

{% set pageTitle = 'Tableau de bord' %}
{% set breadcrumbs = [{text: 'Tableau de bord', href: path('dashboard_index') }, {text: proposal.name, href: path('proposal_edit', { id: proposal.id })}, {text: 'Candidats', href: '' }] %}

{% set section_title = 'Candidats ayant postulés à l\'annonce' %}

{% block title %}{{ section_title }}{% endblock %}

{% block dashboard_content %}

    {% include "_layouts/alert.html.twig" %}

    {% for candidat in proposal.appliers %}
        {% set avatar = candidat.owner.avatarPath is not null or candidat.owner.avatarPath|length > 3 ? candidat.owner.avatarPath : 'https://fakeimg.pl/200x200/' %}
        {% set isEven = (loop.index % 2) == 0 %}
        <div class="row border p-3 mb-3 {{ isEven ? 'bg-light' : 'bg-white' }}">
            <div class="col-md-3 col-sm-6 col-12">
                <img class="img-fluid" src="{{ avatar }}" />
            </div>
            <div class="col-md-9 col-sm-6 col-12    ">   
                <h4>{{ candidat.owner.firstname ~ ' ' ~ candidat.owner.lastname }}</h4>
                    <hr>
                {% for motivation in candidat.owner.userMotivations %}
                    <p>{{ motivation.presentation }}</p>
                    <p>
                        Contrat recherché: <strong>{{ motivation.contract.name }}</strong>
                    </p>
                    {% if motivation.isTraveller %}
                        <p>
                            Possible destination(s) pour travail à l'étranger:
                            {% for destination in candidat.owner.userDestinations %}
                                {{ ((not loop.first ? ', ' : '') ~ '<strong>' ~ destination.country.name ~ '</strong>' ~ (not loop.last ? '' : '.'))|raw }}
                            {% endfor %}
                        </p>
                    {% else %}
                        <p>Ne préfère pas voyager</p>
                    {% endif %}
                {% else %}
                    &hellips;
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-12 text-center">
                <em>Aucun candidat n'a postulé pour cette annonce pour l'instant</em>
            </div>
        </div>
    {% endfor %}

    <div class="row my-3">
        <div class="col-12 text-right">
            <a class="genric-btn primary radius" href="{{ path('proposal_edit', { id: proposal.id }) }}">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;
                Revenir à l'annonce
            </a>
        </div>
    </div>

{% endblock %}
