{# layout template for the form #}

{% set imgUrl = imgUrl is defined ? imgUrl : 'https://fakeimg.pl/450x600/' %}

{% set btnParameter = btnParameter is defined ? btnParameter : { class: 'btn-submit-ajax', style: 'primary', 'icon_class': 'fa-check', type: 'submit' } %}
{% set deleteParameter = deleteParameter is defined ? deleteParameter : { class: 'btn-delete-ajax pull-left', style: 'danger', icon_class: 'fa-trash', type: 'button' } %}
{% set addParameter = addParameter is defined ? addParameter : { class: 'btn-add-ajax btn-block', style: 'info', icon_class: 'fa-plus', type: 'button' } %}
{% set btnText = btnText is defined ? btnText : 'Enregistrer' %}
{% set add = add is defined ? add : false %}
{% set remove = remove is defined ? remove : false %}

{% block form_content %}
    <div class="row">
        <div class="col-7 form-content">
            {% if form is defined and form is not null %}
                {% block form %}
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <div class="row">
                            <div class="col-12 text-right" id="save-container">
                                {% if remove == true %}
                                    {{ 'Effacer'|button( deleteParameter ) }}
                                {% endif %}
                                {{ btnText|button(btnParameter) }}
                            </div>
                        </div>
                    {{ form_end(form) }}
                {% endblock %}
            {% endif %}
            {% if add == true %}
            <div class="row mt-3" id="add-row">
                <div class="col-12">
                    {{ 'Ajouter'|button( addParameter ) }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-5">
            {% block img %}
                <img src="{{ imgUrl }}" alt="">
            {% endblock %}
        </div>
    </div>
{% endblock %}



